</main>
<footer class="container">
  <small>Deploy your own web3 membership with <a href="https://unlock-protocol.com">Unlock</a>! Keys granted from
    <code><%= GRANTER %></code>
  </small>
</footer>
</body>