<body>
  <nav class="container">
    <ul>
      <li>&nbsp;</li>
    </ul>
    <ul>
      <li>
        <% if (user) { %>
          <a href="/logout">Disconnect Twitter</a>
          <% } %>
      </li>
    </ul>
  </nav>
  <main class="container">