<%- include('./partials/header.ejs'); %>
  <%- include('./partials/layout.ejs'); %>

    <h1>Congratulations!</h1>
    <p style="margin: 0 auto">You now have a trial membership for <a href="https://ouvre-boite.com/">Ouvre-Boite</a>!
    </p>

    <small>This membership is only valid for 1 hour... When it expires, claim another one, or consider getting a year
      long! <a href="https://www.ouvre-boite.com/membership" target="_blank">Learn
        more</a>.</small>

    <%- include('./partials/footer.ejs'); %>