<%- include('./partials/header.ejs'); %>
  <%- include('./partials/layout.ejs'); %>

    <h1>You are elligible! 🎉</h1>
    <p>It looks like you follow Julien. Please, connect your wallet so we can airdrop a membership.</p>
    <a style="margin: 0 auto" role="button"
      href="https://app.unlock-protocol.com/checkout?client_id=localhost:3000&redirect_uri=http://localhost:3000/wallet-connected">Connect
      your wallet</a>

    <%- include('./partials/footer.ejs'); %>