<%- include('./partials/header.ejs'); %>
  <%- include('./partials/layout.ejs'); %>

    <h1>Welcome!</h1>
    <p>If you follow <a href="https://twitter.com/julien51" target="_blank">Julien</a> on Twitter, you can claim a free
      trial membership to <a href="https://ouvre-boite.com/" target="_blank">Ouvre-Boite</a>.</p>
    <a style="margin: 0 auto" href="/login/federated/twitter.com" role="button">Sign in with Twitter</a>

    <%- include('./partials/footer.ejs'); %>