<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"
    />
    <link rel="stylesheet" href="/stylesheets/pico.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Are you following Julien?</title>
    <style>
      :root:not([data-theme="dark"]),
      [data-theme="light"] {
        --nav-background: rgba(255, 255, 255, 0.7);
        --nav-border: rgba(115, 130, 140, 0.2);
      }

      [data-theme="dark"] {
        --nav-background: rgba(16, 24, 30, 0.8);
        --nav-border: rgba(115, 130, 140, 0.2);
      }

      main .grid > * {
        margin-bottom: var(--spacing);
      }
      @media (min-width: 992px) {
        main .grid {
          grid-column-gap: var(--spacing);
          grid-template-columns: 25% auto;
        }
      }
    </style>
  </head>

  <body>
    <div
      class="container"
      style="
        display: flex;
        flex-direction: column;
        height: 100vh;
        align-items: center;
        justify-content: center;
      "
    >
      <h3><%= user.displayName %></h3>
      <h4>You are Julien!</h4>
      <img
        src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/285/nerd-face_1f913.png"
      />
    </div>
  </body>
</html>
